<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-item>
   <ion-label>Category</ion-label>
   <ion-select [(ngModel)]="categorySelected" (ionChange)="loadFurniture()">
    <ion-option value="1">Armchair</ion-option>
   <ion-option value="2"> Sofa</ion-option>
     <!--pilih category 3-->
     <ion-option value="3"> Table</ion-option>
   </ion-select>
 </ion-item>
  <ion-card *ngFor="let furniture of furnitureList">
    <ion-slides pager>
      <ion-slide *ngFor="let img of furniture.images">
        <img src="{{img}}"/>
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title>{{furniture.name}}</ion-card-title>
      <p>{{furniture.description}}</p>
      <p>{{furniture.price}}</p>
      <p>{{furniture.quantity}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
